.detail {
    width: 100%;
    max-width: 1024px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: relative;
  }
  
  .bookNow {
    position: absolute;
    top: 10px;
    right: 0;
    border: none;
    padding: 10px 20px;
    background-color: #0071c2;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
  }
  .bookNow:hover {
    color: #fff;
    background-color: rgba(0, 0, 0, 0.5);
    transition: all 0.2s;
  }
  
  .detailTitle {
    font-size: 24px;
  }
  
  .detailAddress {
    font-size: 12px;
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .detailDistance {
    color: #0071c2;
    font-weight: 500;
  }
  
  .detailPriceHighlight {
    color: #008009;
    font-weight: 500;
  }
  
  .detailImages {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .detailImgWrapper {
    width: 33%;
  }
  
  .detailImg {
    width: 100%;
    object-fit: cover;
    cursor: pointer;
  }
  
  .detailDetails {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-top: 20px;
  }
  
  .detailDetailsTexts {
    flex: 3;
  }
  
  .detailDesc {
    font-size: 14px;
    margin-top: 20px;
  }
  
  .detailDetailsPrice {
    flex: 1;
    background-color: #ebf3ff;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .detailDetailsPrice > h1 {
    font-size: 18px;
    color: #555;
  }
  .detailDetailsPrice > span {
    font-size: 14px;
  }
  .detailDetailsPrice > h2 {
    font-weight: 300;
  }
  .detailDetailsPrice > button {
    border: none;
    padding: 10px 20px;
    background-color: #0071c2;
    color: white;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
  }
  .detailDetailsPrice > button:hover {
    color: #fff;
    background-color: rgba(0, 0, 0, 0.5);
    transition: all 0.2s;
  }
  
  /* ----------------------------display modal---------------------------- */
  .backdropDetail {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 20;
    background-color: rgba(0, 0, 0, 0.75);
  }
  .modalDetail {
    margin-left: -5%;
    position: fixed;
    top: 20vh;
    width: 100%;
    height: 60%;
    background-color: white;
    border-radius: 14px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
    z-index: 30;
    animation: slide-down 300ms ease-out forwards;
  }
  
  @media (min-width: 768px) {
    .modalDetail {
      width: 50rem;
      left: calc(50% - 20rem);
    }
  }
  
  @keyframes slide-down {
    from {
      opacity: 0;
      transform: translateY(-3rem);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  .modalDetail > img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  .closeDetail {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 30px;
    color: rgb(167, 167, 167);
    cursor: pointer;
    z-index: 1;
  }
  .arrowLeft {
    position: absolute;
    top: 25vh;
    left: 5px;
    font-size: 50px;
    color: rgb(185, 185, 185);
    cursor: pointer;
    z-index: 1;
  }
  .arrowRight {
    position: absolute;
    top: 25vh;
    right: 5px;
    font-size: 50px;
    color: rgb(185, 185, 185);
    cursor: pointer;
    z-index: 1;
  }